body{
  background-color: Thistle;
}
.card {
  width: 300px; 
  height: 400px;
  background-color: #f9f9f9;
  border: solid black 2px;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.card1{
  width: 300px; 
  height: 400px;
  background-color: #f9f9f9;
  border: solid black 2px;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 20px;
  text-align: center;
  display: flex;
  color: red;
  justify-content: space-between;
}
#playing-cards{
  display:flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.left{
  align-self: flex-start;
}
.middle{
  align-self: center;
  flex-direction: column;
  font-size: 80px;
}
.right{
  align-self: flex-end;
}
.flipped {
    transform: rotate(180deg);
}
.card red{
  background: red;
}
